@import "../../styles/variables.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.wrapper {
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 20px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 18px;
}

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  img {
    width: 150px;
    height: auto;
    object-fit: contain;
    display: block;
  }
}


.nav {
  display: flex;
  gap: 32px;

  a {
    position: relative;

    color: #ffffff;
    text-decoration: none;

    font-size: 16px;
    font-weight: 500;

    transition: color 0.3s ease;

    &:hover {
      color: #f7a43a;
    }
  }
}

.cart {
  background: transparent;

  border: 1px solid #ffffff;
  border-radius: 999px;

  padding: 4px 16px 4px 4px;

  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}

.countBadge {
  min-width: 24px;
  height: 24px;

  padding: 0 6px;

  border-radius: 50%;

  background: #ff2b2b;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 13px;
  font-weight: 700;
}

.totalPrice {
  color: #ffffff;

  font-size: 16px;
  font-weight: 600;

  white-space: nowrap;
}


.burger {
  display: none;

  align-items: center;
  gap: 12px;

  background: transparent;
  border: none;

  color: white;

  cursor: pointer;

  z-index: 1200;

  padding: 0;
}

.menuText {
  font-size: 18px;
  font-weight: 600;
}


.burgerIcon {
  width: 28px;
  height: 20px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    width: 100%;
    height: 2px;

    background: #ffffff;
    border-radius: 999px;

    transition: all 0.35s ease;

    transform-origin: center;
  }
}

.burgerActive {
  .burgerIcon {
    span:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}

.mobileMenu {
  position: fixed;

  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;

  background: #000;

  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translateX(100%);

  transition:
          opacity 0.35s ease,
          transform 0.35s ease,
          visibility 0.35s ease;

  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.mobileMenuOpen {
  opacity: 1;
  visibility: visible;
  pointer-events: all;

  transform: translateX(0);
}


.mobileContent {
  min-height: 100%;

  padding: 40px 32px;

  display: flex;
  flex-direction: column;

  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}


.mobileCart {
  width: fit-content;

  margin-bottom: 60px;

  background: transparent;

  border: 1px solid #ffffff;
  border-radius: 999px;

  padding: 4px 16px 4px 4px;

  display: flex;
  align-items: center;
  gap: 10px;

  flex-shrink: 0;
}


.mobileNav {
  display: flex;
  flex-direction: column;

  gap: 28px;

  a {
    width: fit-content;

    color: white;
    text-decoration: none;

    font-size: 34px;
    font-weight: 500;

    transition: color 0.3s ease;

    &:hover {
      color: #f7a43a;
    }
  }
}

.mobileContacts {
  margin-top: 60px;

  display: flex;
  flex-direction: column;

  gap: 10px;

  a {
    width: fit-content;

    text-decoration: none;

    font-size: 18px;
    font-weight: 600;
  }

  a:first-child {
    color: #f7a43a;
  }

  a:last-child {
    color: #ffffff;
  }
}

.socials {
  margin-top: auto;

  display: flex;
  align-items: center;

  gap: 22px;

  padding-top: 40px;

  a {
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    transition:
            color 0.3s ease,
            transform 0.3s ease;

    &:hover {
      color: #f7a43a;
      transform: translateY(-2px);
    }
  }

  svg {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 900px) {

  .wrapper {
    height: 80px;
  }

  .nav {
    display: none;
  }

  .cart {
    display: none;
  }

  .burger {
    display: flex;
  }

  .logo {
    img {
      width: 115px;
    }
  }

  .mobileNav {
    a {
      font-size: 28px;
    }
  }

  .mobileContent {
    padding: 30px 22px 50px;
  }
}

@media (min-width: 901px) {

  .mobileMenu {
    display: none;
  }
}