@import "../../styles/variables.scss";

.contacts h2 {
  font-size: 64px;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.map {
  height: 320px;
  border-radius: 24px;

  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.06);

  display: flex;
  align-items: center;
  justify-content: center;

  color: $secondary;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}